<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/"> Home </a>
    <a class="nav-item nav-link" routerLink="/account/register"> Register </a>
    <a class="nav-item nav-link nav-item nav-link" (click)="logout()"> Logout </a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
