<div class="container col-md-6  offset-md-3 mt-5">
  <div *ngIf="error" class="alert alert-danger"> {{error}} </div>
  <div *ngIf="success" class="alert alert-success"> {{success}} </div>
  <div class="card">
    <h4 class="card-header"> Login </h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label>Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors}">
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner0border-sm me-1"></span>
            Login
          </button>
          <a routerLink="../register" class="btn btn-link"> Register </a>
        </div>
      </form>
    </div>
  </div>
</div>
